# +----------------------------------------------+
#  ignore files not required in the docker image
# +----------------------------------------------+

# ignore dotfiles (.git, .gitignore, .gitlab-ci.yml)
.*

# Ignore docker specific files
docker-compose.yml
Dockerfile
db